.container {
  margin-top: 24px;

}

body{
  background-color: black;
}

textarea {
  background-color: black !important;
  color: wheat !important ;
}

.htmlDiv {
  color: white !important ;
} 

hr {
  color: black !important;
}